* {
  margin: 0px;
}
input {
  margin-bottom: 10px;
}
#email {
  height: 40px;
  width: 300px;
  text-align: center;
  border: 1px solid black;
}
#submit {
  height: 30px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
}
#header {
  background-color: DodgerBlue;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 20px;
}
#header-img {
  margin-left: 40px;
}
#nav-bar {
  display: block;
  float: right;
  margin-top: 20px;
}

#nav-bar a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 40px;
}

#content {
  text-align: center;
  margin-top: 100px;
}
#features {
  display: flex;
  height: 450px;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-left: 100px;
}

.feature {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 33%;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.feature div {
  max-width: 80%;
  height: 100%;
  padding-left: 100px;
}
.desc {
  text-align: left;
  padding-top: 25px;
}

.feature i {
  padding-left: 50px;
  color: black;
  font-size: 100px;
}
#pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.price {
  border: 1px solid black;
  margin-top: 100px;
  width: 30%;
}
.price h4 {
  padding: 20px;
  background-color: grey;
}
.price h3 {
  padding: 20px;
}
.price p {
  padding: 20px;
}
.price button {
  border: 1px solid black;
  background-color: DodgerBlue;
  width: 100px;
  height: 40px;
  margin: 20px;
  font-size: 25px;
}

#reviews {
  padding-top: 70px;
  height: 500px;
  width: 667px;
  margin: auto;
}

#reviews iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
  background-color: DodgerBlue;
  position: relative;
  width: 100%;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
footer p {
  font-size: 10px;
  text-align: right;
}
footer a {
  font-size: 25px;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  #header {
    font-size: 15px;
  }
  #nav-bar {
    padding-left: 10px;
  }
  #nav-bar a {
    margin-left: 10px;
    margin-right: 10px;
  }
  #header-img {
    margin-left: 10px;
  }
  #features {
    height: 600px;
    padding-left: 0px;
  }
  .desc {
    text-align: center;
    margin: auto;
    padding-top: 0px;
  }
  .feature {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
    margin-bottom: 20px;
  }
  .feature div {
    padding-left: 0px;
  }
  .feature i {
    padding-left: 0;
    margin: auto;
  }
  #pricing {
    flex-direction: column;
    align-items: center;
  }
  #item1 {
    margin-top: 70px;
  }
  .price {
    width: 70%;
    margin-top: 20px;
  }
  #reviews {
    height: 220px;
    width: 300px;
  }
}
